

body {
  background-color: #120E21;
  font-family: 'Open Sans', sans-serif;
}

.ui.inverted.menu {
  width: 200vh;
  background-color: #564F6E;
}

#content {
  padding: 10px;
}

fieldset legend {
  color: white;
}

.ui.tabular.menu .item {
  color: white;
}
.ui.tabular.menu .item:hover {
  color: black;
  background-color: white;
}

h2, h3, h4 {
  color: black;
}

.ui.list, .class{
  color: white;
}

.ui.form .field:last-child {
  display: flex;
  justify-content: flex-end;
}

#profile_tool_bar {
  display: flex;
  justify-content: space-around;
}

a.class {
  font-size: 16px;
  padding: 5px;
  color: white;
}

a.class:hover {
  color: white;
  font-size: 20px;
}

.type {
  color: #337ab7;
}

#currentEditMethod {
  color: #DD6E53;
}

.public {
  color: #67C396;
}

.private {
  color: #dd6e53;
}

.protected {
  color: #F3A343;
}
