
body {
  background-color: #120E21;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  color: white;
}

.panel-heading {
  background-color: #564F6E;
}

.panel-body {
  color: white;
  background-color: #2E2A3B;
}

.menu, .dropdown-menu {
  background-color: #2E2A3B;
}

.menu li a {
  color: white;
}

.menu li a:hover{
  
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #2E2A3B;
}

#methods-table, #vars-table {
  height: 250px;
  overflow: scroll;
  overflow-x: hidden;
}

fieldset legend {
  color: white;
  padding: 4px;
}

table tr th{
	text-align: center;
}

#status_bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
}

#hierarchia ul {
  list-style-type: none;
}

a.class {
  font-size: 16px;
  padding: 5px;
  color: white;
}

a.class:hover {
  color: white;
  font-size: 20px;
}

a.method {
  color: white;
}

.type {
  color: #337ab7;
}

#currentEditMethod {
  color: #DD6E53;
}

.message {
  font-size: 16px;
  padding: 10px;
}

.public {
  color: #67C396;
}

.private {
  color: #dd6e53;
}

.protected {
  color: #F3A343;
}
