
body {
  background-color: #120E21;
  font-family: 'Open Sans', sans-serif;
}


#methods-table, #vars-table {
  height: 250px;
  overflow: scroll;
  overflow-x: hidden;
}

fieldset legend {
  color: white;
  padding: 4px;
}

table tr th{
	text-align: center;
}


#hierarchia ul {
  list-style-type: none;
}

a.class {
  font-size: 16px;
  padding: 5px;
  color: white;
}

a.class:hover {
  color: white;
  font-size: 20px;
}

a.method {
  color: white;
}

.type {
  color: #337ab7;
}

#currentEditMethod {
  color: #DD6E53;
}

.message {
  font-size: 16px;
  padding: 10px;
}

.public {
  color: #67C396;
}

.private {
  color: #dd6e53;
}

.protected {
  color: #F3A343;
}
